In [1]:
import scipy, pandas, numpy
import matplotlib.pyplot as plt 

df = pandas.read_excel('./WBES_with_outcome.xlsx')

In [2]:
# Categorical variables
cate_cols = ['a7', 'b7a', 'b8', 'c15',  'c30a', 'c30b', 'd30a', 'd30b', 'g30a', 'h1', 'h2', 'h8', 
            'h30', 'i1', 'i30', 'j30a', 'j30b', 'j30c', 'j30e', 'j30f', 'k4b', 'k7', 'k8', 'k13', 'k14a', 'k14b',
            'k14c', 'k14d', 'k14e', 'k15d', 'k21', 'k30', 'l30a', 'l30b']
# Continuous variables
cont_cols = ['c9a', 'd2', 'd3a', 'd3b', 'd3c', 'd12a', 'd12b', 'f1', 'i2a', 'k1c', 'k2c', 'k3a', 'k3bc', 'k3e', 'k3f', 'k3hd',
            'k5a', 'k5bc', 'k5e', 'k5f', 'k5i', 'k5hdj', 'k15', 'k15b', 'k15c', 'l1', 'l2', 'l3a', 'l3b', 'l4a1', 'l4a2', 'l4b', 'l5',
            'l5a', 'l5b', 'l6', 'l6a', 'n2a', 'n2b',  'n2e', 'n2f', 'n2p', 'n5a', 'n5b', 'n5c', 'n5d', 'n6a', 'n6b','n7a', 'n7b']
# Sensitive variable
sens_cols = ['b4', 'b4a', 'b4a_cat', 'b7a']

In [3]:
df[cate_cols].value_counts()

a7   b7a  b8  c15  c30a  c30b  d30a  d30b  g30a  h1  h2   h8  h30  i1  i30  j30a  j30b  j30c  j30e  j30f  k4b   k7  k8  k13  k14a  k14b  k14c  k14d  k14e  k15d  k21  k30  l30a  l30b
1.0  -9   1   2.0  2.0   1.0   2.0    2.0  1     1   1.0  1   1    1   0    1.0   2.0   0.0   4     3.0    1.0  1   1   1.0  2.0   2.0   2.0   1.0   -9.0  1     1    2    1.0   -7.0    1
2.0   2   2   1.0  2.0   1.0   1.0    1.0  1     1   1.0  1   3    1   1    3.0   3.0   2.0   3     3.0    1.0  1   1   1.0  1.0   2.0   2.0   2.0    2.0  2     1    1    3.0    3.0    1
                   1.0   1.0   1.0   -7.0  0     1   1.0  2   0    1   0    2.0   2.0   2.0   2     2.0    1.0  1   1   1.0  2.0   2.0   2.0   2.0    1.0  2     2    0    2.0    1.0    1
                                      0.0  0     1   1.0  2   2    1   0    1.0   2.0   1.0   2     1.0    1.0  1   1   1.0  2.0   2.0   2.0   1.0    2.0  2     1    2    2.0    2.0    1
                                      4.0  1     1   2.0  1   3    1   1    4.0   4.0   1.0   1     4.0    1.0  1   1   1.0  1.0   2.0   2.0   2.0    2.0  2     2    2    3.0    2.0    1
                                                                                                                                                                                        ..
      1   2   2.0  1.0   1.0   1.0    0.0  0     1   1.0  2   0    1   2    0.0   0.0   0.0   0     0.0    1.0  1   1   1.0  1.0   2.0   2.0   2.0    2.0  1     2    1    2.0    2.0    1
                         0.0   2.0    2.0  0     1   2.0  2   3    1   3    4.0   3.0   3.0   3     3.0   -9.0  2   1   1.0  1.0   2.0   2.0   2.0    2.0  2     2    2    2.0    4.0    1
                               1.0    2.0  2     1   1.0  2   1    1   2    3.0   3.0   2.0   4     4.0    2.0  1   1   1.0  1.0   2.0   2.0   2.0    2.0  2     2    2    2.0    3.0    1
                               0.0    0.0  3     1   1.0  2   1    1   3    3.0   1.0   3.0   2     2.0    2.0  2   1   1.0  2.0   1.0   2.0   2.0    2.0  2     2    3    2.0    0.0    1
      2   2   2.0  4.0   4.0   4.0    2.0  3     1   1.0  2   1    1   3    4.0   3.0   4.0   4     4.0    1.0  1   1   1.0  2.0   2.0   2.0   1.0    2.0  2     1    0    4.0    4.0    1
Length: 551, dtype: int64

In [4]:
all_cols = cate_cols + cont_cols + sens_cols
df_new = df[all_cols]
print(df_new.head(1))

    a7  b7a  b8  c15  c30a  c30b  d30a  d30b  g30a  h1  ...        n5c  n5d  \
0  2.0    2   1 -7.0   2.0   NaN   0.0   0.0    -7   2  ...  4000000.0  0.0

   n6a  n6b         n7a  n7b   b4  b4a  b4a_cat  b7a
0  NaN  NaN  20000000.0  NaN  2.0  NaN      1.0    2

[1 rows x 88 columns]

In [5]:
# process number of employees and costs
df_temp  = df_new.copy()
df_temp['l2_new'] = numpy.nan
df_temp['l2_new'] = df_new.apply(lambda x:(x['l1']-x['l2'])/x['l1'], axis=1)
emp_cols = ['l2', 'l3a', 'l3b', 'l4a1', 'l4a2', 'l4b', 'l5', 'l5a', 'l5b', 'l6', 'l6a']
cost_cols = ['n2a', 'n2b',  'n2e', 'n2f', 'n2p']

print(df_temp['l2_new'].value_counts())

0.000000    3716
0.200000     432
0.166667     340
0.333333     296
0.250000     283
            ...
0.070707       1
0.755102       1
0.054422       1
0.020725       1
0.005291       1
Name: l2_new, Length: 2205, dtype: int64

In [12]:
df_temp1  =  df_temp.copy()
    
df_temp = df_temp1.replace(-9, numpy.nan, inplace=False)

df_temp = df_temp1.replace(-7, 0, inplace=False)

In [11]:
print(df_temp['d2'].min(), df_temp['d2'].max())
df_temp1  =  df_temp.copy()
for col in cost_cols:
    df_temp[col] = df_temp1[col].div(df_temp1['d2'])

-9.0 83250000000000.0

In [8]:
for col in cost_cols:
    print(df_temp[col].value_counts())
    print(df_temp[col].min(), df_temp[col].max())
# print max and min of d2
# print(df['k15'].max())

1.000000    591
0.200000    240
0.100000    189
0.250000    171
0.300000    161
           ...
0.400245      1
0.169474      1
0.289570      1
0.489570      1
0.078000      1
Name: n2a, Length: 7163, dtype: int64
-1333333333.3333333 inf
1.000000    481
0.010000    182
0.020000    146
0.005000    135
0.006000    110
           ...
0.003787      1
0.018696      1
0.001359      1
0.017236      1
0.000401      1
Name: n2b, Length: 6737, dtype: int64
-200000000.0 inf
1.000000    343
0.500000    195
0.400000    136
0.333333    100
0.600000     92
           ...
0.414362      1
0.138105      1
0.219178      1
0.470827      1
0.230789      1
Name: n2e, Length: 4089, dtype: int64
-888888888.8888888 inf
0.000000    507
1.000000    297
0.010000    101
0.020000     72
0.050000     56
           ...
0.028607      1
0.004489      1
0.000475      1
0.016103      1
0.011333      1
Name: n2f, Length: 3640, dtype: int64
-1111111111.1111112 12.0
 1.000000    629
 0.800000     74
 0.833333     58
 0.900000     58
 0.750000     48
            ...
-0.000011      1
 1.188067      1
 1.044770      1
 0.506667      1
-0.001800      1
Name: n2p, Length: 4299, dtype: int64
-219251444.44444445 inf

In [9]:
df['n2b'].isna().sum()/len(df)

0.003080369644357323