In [1]:
import scipy, pandas, numpy
import matplotlib.pyplot as plt  

df_final = pandas.read_csv('./sme_finance_monitor_preprocess.csv')
print(df_final.head())

   Unnamed: 0  outcome  risk  q126  q144  q7q8  q9  q11   q11a  q12  ...  \
0          23        0   2.0     1     1     1   1    1 -99.99    1  ...
1          39        1   3.0     1     1     2   5    6   1.00    2  ...
2          43        1   4.0     2     1     2   2    2   1.00    1  ...
3          63        1   4.0     1     1     1   1    9 -99.99    1  ...
4          65        1   5.0     1     1     3   9    1   1.00    2  ...

   q111112   q113   qbb2   qbb3  q115  q116_p  q116_l  q117  q119  q120
0      5.0 -99.99 -99.99 -99.99     1    2.00  -99.99   3.0   8.0     5
1      5.0 -99.99 -99.99 -99.99     1    3.00  -99.99   2.0   5.0     5
2      5.0 -99.99 -99.99 -99.99     4  -99.99  -99.99   2.0  14.0    14
3      4.0 -99.99 -99.99 -99.99     1    2.00  -99.99   2.0   1.0     1
4      4.0 -99.99 -99.99 -99.99     1    5.00  -99.99   2.0  10.0    15

[5 rows x 486 columns]

### Drop list

In [2]:
q36_list = df_final.filter(like='q36').columns.tolist()
print(q36_list)

['q36_1_1', 'q36_1_2', 'q36_1_3', 'q36_1_4', 'q36_1_7', 'q36_1_8', 'q36_1_9', 'q36_1_10', 'q36_1_11', 'q36_1_12', 'q36_1_13', 'q36_1_14', 'q36_1_15', 'q36_1_16', 'q36_1_18', 'q36_2_1', 'q36_2_2', 'q36_2_3', 'q36_2_4', 'q36_2_7', 'q36_2_8', 'q36_2_9', 'q36_2_10', 'q36_2_11', 'q36_2_12', 'q36_2_13', 'q36_2_14', 'q36_2_15', 'q36_2_16', 'q36_2_18', 'q36_3_1', 'q36_3_2', 'q36_3_3', 'q36_3_4', 'q36_3_7', 'q36_3_8', 'q36_3_9', 'q36_3_10', 'q36_3_11', 'q36_3_12', 'q36_3_13', 'q36_3_14', 'q36_3_15', 'q36_3_16', 'q36_3_18', 'q36_4_1', 'q36_4_2', 'q36_4_3', 'q36_4_4', 'q36_4_7', 'q36_4_8', 'q36_4_9', 'q36_4_10', 'q36_4_11', 'q36_4_12', 'q36_4_13', 'q36_4_14', 'q36_4_15', 'q36_4_16', 'q36_4_18']

###  Merge variables

In [ ]:
df_temp  = df_final.copy()
cols = df_temp.filter(like='q43').columns.tolist()+df_temp.filter(like='q61').columns.tolist()
df_final[cols] = df_temp[cols].replace([-99.99, 3.00],0.00,inplace=False)

df_final['q43_61'] = -99.99
for i in cols:
    df_final.loc[df_final[i] == 1.00,'q43_61'] = 1.00
    df_final.loc[df_final[i] == 2.00,'q43_61'] = 2.00
    df_final.drop(i,axis=1,inplace=True)


df_final['q115_116']  = -99.99
df_final.loc[df_final['q115'] == 3.00,'q115_116'] = 0.00
df_final.loc[df_final['q116_p'] == 1.00,'q115_116'] = 1.00
df_final.loc[df_final['q116_p'] == 2.00,'q115_116'] = 2.00
df_final.loc[df_final['q116_p'] == 3.00,'q115_116'] = 3.00
df_final.loc[df_final['q116_p'] == 4.00,'q115_116'] = 4.00
df_final.loc[df_final['q116_p'] == 5.00,'q115_116'] = 5.00
df_final.loc[df_final['q116_l'] == 1.00,'q115_116'] = -1.00
df_final.loc[df_final['q116_l'] == 2.00,'q115_116'] = -2.00
df_final.loc[df_final['q116_l'] == 3.00,'q115_116'] = -3.00
df_final.loc[df_final['q116_l'] == 4.00,'q115_116'] = -4.00
df_final.loc[df_final['q116_l'] == 5.00,'q115_116'] = -5.00

### No missing value list

In [3]:
nomiss_list=['risk', 'q126', 'q144', 'q7q8', 'q9', 'q11', 'q12', 'q13', 'q14y', 
'q14ysu2', 'q15d2', 'q15', 'q15z', 'q24a', 'q24b', 'q24c', 'q78', 'q103106', 'q120']

### Multichoice missing value

In [4]:
def multichoice(df, col_key):
    df_copy  = df.copy()
    col=[]
    if isinstance(col_key,list):
        for i in col_key:
            col += df.filter(like=i).columns.tolist()
        # print(col)
    else:
        col = df.filter(like=col_key).columns.tolist()
    df[col] = df_copy[col].replace(-99.99, 0.00,inplace=False)
    df.loc[(df[col]==0.00).all(axis=1), col] = numpy.nan
    return df

In [5]:
col_list=['q15_', ['q35b', 'q53'], 'q11a', 'q13a', 'q15b_', 'q15c', 'q17_', 'q26_', 'q27', 
'q28_', ['q38', 'q56'], ['q42', 'q60'], 'q43_61', 'q78b', 'q78c', 'q81', 'q84_', 'q85', 'q111112',
'q113', 'qbb', 'q115_116', 'q117', 'q119']

In [24]:
df_temp  = df_final.copy()
cols = df_temp.filter(like='q43').columns.tolist()+df_temp.filter(like='q61').columns.tolist()
df_final[cols] = df_temp[cols].replace([-99.99, 3.00],0.00,inplace=False)

df_final['q43_61'] = -99.99
for i in cols:
    df_final.loc[df_final[i] == 1.00,'q43_61'] = 1.00
    df_final.loc[df_final[i] == 2.00,'q43_61'] = 2.00
    df_final.drop(i,axis=1,inplace=True)

In [40]:
col_key = 'q54'

col=[]
if isinstance(col_key,list):
    for i in col_key:
        col += df_final.filter(like=i).columns.tolist()
else:
    col = df_final.filter(like=col_key).columns.tolist()

print(df_final.loc[(df_final[col]==-99.99).all(axis=1), col].value_counts())
df_final = multichoice(df_final, col_key)
print(df_final[col].value_counts())
print(df_final.loc[df_final[col].isnull().all(axis=1), col])

q54_1   q54_2   q54_3   q54_4   q54_7   q54_8   q54_9   q54_10  q54_11  q54_12  q54_13  q54_14  q54_15  q54_16
-99.99  -99.99  -99.99  -99.99  -99.99  -99.99  -99.99  -99.99  -99.99  -99.99  -99.99  -99.99  -99.99  -99.99    1450
dtype: int64
q54_1  q54_2  q54_3  q54_4  q54_7  q54_8  q54_9  q54_10  q54_11  q54_12  q54_13  q54_14  q54_15  q54_16
0.0    15.0   0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0       45
       0.0    0.0    15.0   0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0       31
6.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0       25
7.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0       25
5.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0       21
                                                                                                           ..
0.0    0.0    14.0   0.0    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0        1
              12.0   0.0    0.0    12.0   14.0   0.0     0.0     0.0     0.0     0.0     0.0     0.0        1
              11.0   0.0    11.0   0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0        1
                            0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0     0.0        1
16.0   16.0   0.0    0.0    0.0    0.0    16.0   0.0     0.0     0.0     0.0     0.0     0.0     0.0        1
Length: 384, dtype: int64
      q54_1  q54_2  q54_3  q54_4  q54_7  q54_8  q54_9  q54_10  q54_11  q54_12  \
0       NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
3       NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
4       NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
8       NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
9       NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
...     ...    ...    ...    ...    ...    ...    ...     ...     ...     ...
2319    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
2320    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
2322    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
2326    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN
2327    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN     NaN

      q54_13  q54_14  q54_15  q54_16
0        NaN     NaN     NaN     NaN
3        NaN     NaN     NaN     NaN
4        NaN     NaN     NaN     NaN
8        NaN     NaN     NaN     NaN
9        NaN     NaN     NaN     NaN
...      ...     ...     ...     ...
2319     NaN     NaN     NaN     NaN
2320     NaN     NaN     NaN     NaN
2322     NaN     NaN     NaN     NaN
2326     NaN     NaN     NaN     NaN
2327     NaN     NaN     NaN     NaN

[1450 rows x 14 columns]

In [35]:
col_key = 'qbb'

col=[]
if isinstance(col_key,list):
    for i in col_key:
        col += df_final.filter(like=i).columns.tolist()
else:
    col = df_final.filter(like=col_key).columns.tolist()

print(df_final.loc[(df_final[col]==-99.99).all(axis=1), col].value_counts())
df_final = multichoice(df_final, col_key)
print(df_final[col].value_counts())
print(df_final.loc[df_final[col].isnull().all(axis=1), col])

qbb2    qbb3
-99.99  -99.99    1801
dtype: int64
qbb2  qbb3
1.0   0.0     389
4.0   0.0      36
0.0   1.0      31
5.0   0.0      24
7.0   0.0      10
6.0   0.0       7
3.0   0.0       6
1.0   1.0       4
4.0   4.0       3
2.0   0.0       2
0.0   2.0       2
      5.0       2
6.0   6.0       2
0.0   4.0       2
1.0   3.0       1
      6.0       1
3.0   1.0       1
4.0   1.0       1
0.0   6.0       1
5.0   5.0       1
7.0   5.0       1
dtype: int64
      qbb2  qbb3
0      NaN   NaN
1      NaN   NaN
2      NaN   NaN
3      NaN   NaN
4      NaN   NaN
...    ...   ...
2306   NaN   NaN
2309   NaN   NaN
2312   NaN   NaN
2323   NaN   NaN
2324   NaN   NaN

[1801 rows x 2 columns]